.adminWelcome {
  text-align: center;
}
.headerAdmin a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.headerAdmin a:hover {
  color: red;
}
.header_signin a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
  transition: all 0.5s;
}
.header_signin a:hover {
  color: orange;
}